@font-face {
  font-family: "OneMobile";
  src: url("/fonts/ONE Mobile POP.ttf") format("opentype");
}
@font-face {
  font-family: "GhanaChocolate";
  src: url("/fonts/Ghanachocolate.ttf") format("opentype");
}
@font-face {
  font-family: "KotraHope";
  src: url("/fonts/KOTRA HOPE.ttf") format("opentype");
}
@font-face {
  font-family: "MiceGothic";
  src: url("/fonts/MICEGothic.ttf") format("opentype");
}
@font-face {
  font-family: "MiceGothicBold";
  src: url("/fonts/MICEGothic Bold.ttf") format("opentype");
}
@font-face {
  font-family: "MiceMyungjo";
  src: url("/fonts/MICEMyungjo.ttf") format("opentype");
}
